<footer class="footer">
    <div class="content has-text-centered">
      <p>
        <strong>MyAnimeTracker</strong> by YourName. © <%= new Date().getFullYear() %>
      </p>
    </div>
  </footer>
  