<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MyAnimeTracker</title>
  </head>
  <body>
    <%- include('./partials/_navbar.ejs') %>
    <h1>MyAnimeTracker</h1>
    <p>Keep track of anime you’re watching, completed, or plan to watch.</p>
    <a href="/auth/sign-up">Sign up</a>
    <a href="/auth/sign-in">Sign in</a>
    <a href="/users/<%= user._id %>/applications/new">Add Application</a>


  </body>
</html>
